openapi: 3.0.0
info:
    title: UK OPB - Payment Initiation v3.1.0
    version: v3.1.0
    description: >-
        ## Functionality at a glance

        NBG "Payment Initiation" API follows the [UK Open Banking Specification
        v3.1.](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/937656404/Read+Write+Data+API+Specification+-+v3.1)


        ### Perform a Payment

        * Create a consent in order to perform a payment

        * Confirm availability of funds

        * Create a Payment (Domestic / International, Immediate Payment / Scheduled Payment / Standing Order)

        * Get Consent Status

        * Get Payment Status



        ## Quick Getting Started

        1. **Login/Register** to the NBG Technology HUB

        2. Go to **"APPS"**
        3. Select your Organization and go to step 4. If you want to create a new Organization click **\"CREATE AN ORGANIZATION\"** and follow the steps below:
            1. Enter the title of your Organization
            2. Enter a short description of your Organization (optional)
            3. Click **"SUBMIT"**
        4. Select the Organization of choice and click **"ADD AN APPLICATION"** 
              1. Fill in the forms (title and short description)
              2. Check **\"Authorization Code\" and \"Client Credentials\"** 
              3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)

                  You can use the following redirect URL to easily test the API through the portal: *https://developer.nbg.gr/oauth2/redoc-callback*
              4. Click **"SUBMIT"**
              5. Store the APPs **"Client ID"** and **"Client Secret"**
        
        
        5. Go to **"API PRODUCTS"** and select the **PAYMENT INITIATION - UK OPEN BANKING**

        4. Click **\"START USING THIS API\"**, choose your app and click
    **"SUBSCRIBE"**

        5. Get an Access Token using the credentials you signed in as a developer

        6. Create a Sandbox

        7. Play with the API 



        ## Authentication and Authorization (OAuth2)

        This API version uses the OAuth2 protocol for authentication and authorization, which means that a
        Bearer (access token) should be acquired. An access token can be retrieved using the client_id and
        client_secret of the APP that you created and subscribed in this API, and your own credentials
        (username, password) that you use to sign in the NBG Technology HUB. The scopes are defined below:


        **Sandbox Scopes:** openid profile **sandbox-uk-payments-api-v1**


        **Production Scopes:** openid profile **payments**


        **Authorization Endpoint:** https://my.nbg.gr/identity/connect/authorize


        **Token Endpoint:** https://my.nbg.gr/identity/connect/token


        See more [here](https://developer.nbg.gr/oauth-document)



        ## Create your Sandbox

        Create a new Sandbox application by invoking the POST /sandbox. This call will generate a new Sandbox
        with a unique sandbox-id.


        __Important!__ Before proceeding save the sandbox id you just created.


        When you create a sandbox, users and sandbox specific data are generated as sample data.


        Each sandbox created through NBG Account sandbox API is compatible with other NBG Open Bank sandbox
        APIs.


        ## Start Testing

        Once you have your sandbox-id, you can start invoking the rest of the operations by providing the
        mandatory http header **sandbox-id**  and the http headers described below.


        ## Important notes


        **Request headers**


        The following HTTP header parameters are required for every call:


        1. Authorization. The Auth2 Token

        2. x-fapi-financial-id. The unique id of the ASPSP to which the request is issued (Default: NBG)

        3. x-idempotency-key. The Idempotency Key for the request

        4. sandbox-id. Your Sandbox ID



        **Consent**


        In order to be able to effectively start using the Endpoints the appropriate Consent needs to be
        created and set to the 'Authorised' status. 


        ## Error Codes

        The error codes and their description can be found
        [here](https://openbanking.atlassian.net/wiki/spaces/DZ/pages/937656404/Read+Write+Data+API+Specification+-+v3.1#Read/WriteDataAPISpecification-v3.1-ErrorResponseStructure)


        # Implementation Specifics 

        Below you may find more specific information & limitations regarding the implementation followed in
        the Production API.

        ## Token Endpoint Client Authentication

        At this point the supported __Client Authentication__ method is "__Client Secret Basic__" - usage of
        "Client ID" & "Client Secret".

        ## Consent Authorization

        In order for a PSU to Authorize a Consent, they need to be redirected to the appropriate Consent UI.
        <br /><br />  In order for this redirection to take place the TPP needs to follow the Authorization
        Endpoint by ammending the generated "Consent ID", like this:
        https://my.nbg.gr/identity/connect/authorize?consent_id={{consent_id}}

        <br/><br/>

        Once the PSU is redirected to the Consent Authorization Screen, they need to enter their IBank
        Credentials and either Authorize or Reject the Consent. 

        <br/><br/> 

        At this point the Consent is binded with the PSU.


        ## Message Signing

        This implementation ignore's the "b64" JWS JOSE Header value, but the Signature must be created using
        the Base64 Encoded Payload method. 

        <br /><br /> 

        Currently, only the __PS256__ Signing Algorithm is supported.


        ## Local Instrument 

        Even though the property is accepted and documented in the Consent / Payment Information, it is not
        used in the Payment Operation.


        ## Debtor Account

        The following Scheme Names are supported: 

        1. UK.OBIE.IBAN

        2. UK.OBIE.BBAN

        3. GR.NBG.ACCOUNT - Represents the NBG Account Number


        ## Creditor Account

        ### Domestic Pyaments

        The following Scheme Names are supported: 

        1. UK.OBIE.IBAN


        ### International Pyaments

        The following Scheme Names are supported: 

        1. UK.OBIE.IBAN

        2. UK.OBIE.BBAN

        3. GR.NBG.ACCOUNT - Represents the Creditor's Account Number


        When these "__UK.OBIE.BBAN__" and "__GR.NBG.ACCOUNT__" Enumerations are used, the Creditor's BIC
        Identification is required (_OBExternalFinancialInstitutionIdentification4Code_)


        ## File Payments

        The "__CustomerCreditTransferInitiationV03 pain.001.001.03__" File Type is supported. <br/> You may
        find a description of the supported XML file
        [here](https://files.nbg.gr/uk-obp/SEPA_XML_Μαζικές%20Πιστώσεις%20v1.0.pdf)



        # Feedback and Questions

        We would love to hear your feedback and answer your questions. Send us at
        [developer@nbg.gr](developer@nbg.gr)



        Check out our [Sandbox Postman
        Collection](https://github.com/myNBGcode/PostmanCollections/tree/master/Payment%20Initiation%20-%20UK%20Open%20Banking)

         ________________________________________

        Created by [**NBG**](https://www.nbg.gr/).


        ------------------------------------------------------------------------------------------ 

        ------------------------------------------------------------------------------------------
    contact: {}
servers:
    -
        url: 'https://apis.nbg.gr/sandbox/uk.openbanking.paymentinitiation/oauth2/v3.1.0'
        description: Sandbox Server
paths:
    '/sandbox/{sandboxId}':
        get:
            tags:
                - Sandbox
            parameters:
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    name: sandboxId
                    description: The Sandbox ID
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Sandbox'
                    description: Success
                '400':
                    description: Sandbox Not Found
                '401':
                    description: Unauthorized
                '500':
                    description: Internal Server Error
            operationId: Get
            summary: Export a Sandbox
        delete:
            tags:
                - Sandbox
            parameters:
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    name: sandboxId
                    description: The Sandbox ID
                    schema:
                        type: string
                    in: path
                    required: true
            responses:
                '204':
                    description: No Content
                '400':
                    description: Sandbox Not Found
                '401':
                    description: Unauthorized
                '500':
                    description: Internal Server Error
            operationId: Delete
            summary: Delete a Sandbox
    /sandbox:
        put:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Sandbox'
            tags:
                - Sandbox
            parameters:
                -
                    $ref: '#/components/parameters/AuthorizationParam'
            responses:
                '204':
                    description: No Content
                '400':
                    description: Bad Request
                '401':
                    description: Unauthorized
                '500':
                    description: Internal Server Error
            operationId: Update
            summary: Import Sandbox
            description: Import a Sandbox
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SandboxRequest'
                required: false
            tags:
                - Sandbox
            parameters:
                -
                    $ref: '#/components/parameters/AuthorizationParam'
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Sandbox'
                    description: Success
                '400':
                    description: Incorrect json format or Sandbox Already Exists
                '401':
                    description: Unauthorized
                '500':
                    description: Internal Server Error
            operationId: Create
            summary: Create a New Sandbox
    /domestic-payment-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomesticConsent2'
                required: true
            tags:
                - Domestic Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticPaymentConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticPaymentConsents
            summary: Create Domestic Payment Consents
    '/domestic-payment-consents/{ConsentId}':
        get:
            tags:
                - Domestic Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticPaymentConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticPaymentConsentsConsentId
            summary: Get Domestic Payment Consents
    '/domestic-payment-consents/{ConsentId}/funds-confirmation':
        get:
            tags:
                - Domestic Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticPaymentConsentsConsentIdFundsConfirmation
            summary: Get Domestic Payment Consents Funds Confirmation
    /domestic-payments:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomestic2'
                required: true
            tags:
                - Domestic Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticPaymentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticPayments
            summary: Create Domestic Payments
    '/domestic-payments/{DomesticPaymentId}':
        get:
            tags:
                - Domestic Payments
            parameters:
                -
                    $ref: '#/components/parameters/DomesticPaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticPaymentsDomesticPaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticPaymentsDomesticPaymentId
            summary: Get Domestic Payments
    /domestic-scheduled-payment-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomesticScheduledConsent2'
                required: true
            tags:
                - Domestic Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticScheduledPaymentConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticScheduledPaymentConsents
            summary: Create Domestic Scheduled Payment Consents
    '/domestic-scheduled-payment-consents/{ConsentId}':
        get:
            tags:
                - Domestic Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticScheduledPaymentConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticScheduledPaymentConsentsConsentId
            summary: Get Domestic Scheduled Payment Consents
    /domestic-scheduled-payments:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomesticScheduled2'
                required: true
            tags:
                - Domestic Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticScheduledPaymentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticScheduledPayments
            summary: Create Domestic Scheduled Payments
    '/domestic-scheduled-payments/{DomesticScheduledPaymentId}':
        get:
            tags:
                - Domestic Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/DomesticScheduledPaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticScheduledPaymentsDomesticPaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
            summary: Get Domestic Scheduled Payments
    /domestic-standing-order-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsent2'
                required: true
            tags:
                - Domestic Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticStandingOrderConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticStandingOrderConsents
            summary: Create Domestic Standing Order Consents
    '/domestic-standing-order-consents/{ConsentId}':
        get:
            tags:
                - Domestic Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticStandingOrderConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticStandingOrderConsentsConsentId
            summary: Get Domestic Standing Order Consents
    /domestic-standing-orders:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteDomesticStandingOrder2'
                required: true
            tags:
                - Domestic Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201DomesticStandingOrdersCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateDomesticStandingOrders
            summary: Create Domestic Standing Orders
    '/domestic-standing-orders/{DomesticStandingOrderId}':
        get:
            tags:
                - Domestic Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/DomesticStandingOrderId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetDomesticStandingOrdersDomesticStandingOrderId
            summary: Get Domestic Standing Orders
    /file-payment-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteFileConsent2'
                required: true
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201FilePaymentConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateFilePaymentConsents
            summary: Create File Payment Consents
    '/file-payment-consents/{ConsentId}':
        get:
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200FilePaymentConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetFilePaymentConsentsConsentId
            summary: Get File Payment Consents
    '/file-payment-consents/{ConsentId}/file':
        get:
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetFilePaymentConsentsConsentIdFile
            summary: Get File Payment Consents
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/File'
                required: true
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
            responses:
                '200':
                    $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateFilePaymentConsentsConsentIdFile
            summary: Create File Payment Consents
    /file-payments:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteFile2'
                required: true
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201FilePaymentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateFilePayments
            summary: Create File Payments
    '/file-payments/{FilePaymentId}':
        get:
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/FilePaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200FilePaymentsFilePaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetFilePaymentsFilePaymentId
            summary: Get File Payments
    '/file-payments/{FilePaymentId}/report-file':
        get:
            tags:
                - File Payments
            parameters:
                -
                    $ref: '#/components/parameters/FilePaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200FilePaymentsFilePaymentIdReportFileRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetFilePaymentsFilePaymentIdReportFile
            summary: Get File Payments
    /international-payment-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternationalConsent2'
                required: true
            tags:
                - International Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalPaymentConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalPaymentConsents
            summary: Create International Payment Consents
    '/international-payment-consents/{ConsentId}':
        get:
            tags:
                - International Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalPaymentConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalPaymentConsentsConsentId
            summary: Get International Payment Consents
    '/international-payment-consents/{ConsentId}/funds-confirmation':
        get:
            tags:
                - International Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200DInternationalPaymentConsentsConsentIdFundsConfirmationRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
            summary: Get International Payment Consents Funds Confirmation
    /international-payments:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternational2'
                required: true
            tags:
                - International Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalPaymentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalPayments
            summary: Create International Payments
    '/international-payments/{InternationalPaymentId}':
        get:
            tags:
                - International Payments
            parameters:
                -
                    $ref: '#/components/parameters/InternationalPaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalPaymentsInternationalPaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalPaymentsInternationalPaymentId
            summary: Get International Payments
    /international-scheduled-payment-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternationalScheduledConsent2'
                required: true
            tags:
                - International Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalScheduledPaymentConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalScheduledPaymentConsents
            summary: Create International Scheduled Payment Consents
    '/international-scheduled-payment-consents/{ConsentId}':
        get:
            tags:
                - International Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalScheduledPaymentConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalScheduledPaymentConsentsConsentId
            summary: Get International Scheduled Payment Consents
    '/international-scheduled-payment-consents/{ConsentId}/funds-confirmation':
        get:
            tags:
                - International Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: >-
                        #/components/responses/200DInternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation
            summary: Get International Scheduled Payment Consents Funds Confirmation
    /international-scheduled-payments:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternationalScheduled2'
                required: true
            tags:
                - International Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalScheduledPaymentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalScheduledPayments
            summary: Create International Scheduled Payments
    '/international-scheduled-payments/{InternationalScheduledPaymentId}':
        get:
            tags:
                - International Scheduled Payments
            parameters:
                -
                    $ref: '#/components/parameters/InternationalScheduledPaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalScheduledPaymentsInternationalPaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentId
            summary: Get International Scheduled Payments
    /international-standing-order-consents:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsent2'
                required: true
            tags:
                - International Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalStandingOrderConsentsCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalStandingOrderConsents
            summary: Create International Standing Order Consents
    '/international-standing-order-consents/{ConsentId}':
        get:
            tags:
                - International Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/ConsentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalStandingOrderConsentsConsentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalStandingOrderConsentsConsentId
            summary: Get International Standing Order Consents
    /international-standing-orders:
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OBWriteInternationalStandingOrder2'
                required: true
            tags:
                - International Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-idempotency-key'
                -
                    $ref: '#/components/parameters/x-jws-signature-Param'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '201':
                    $ref: '#/components/responses/201InternationalStandingOrdersCreated'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '415':
                    $ref: '#/components/responses/415ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: CreateInternationalStandingOrders
            summary: Create International Standing Orders
    '/international-standing-orders/{InternationalStandingOrderPaymentId}':
        get:
            tags:
                - International Standing Orders
            parameters:
                -
                    $ref: '#/components/parameters/InternationalStandingOrderPaymentId'
                -
                    $ref: '#/components/parameters/x-fapi-financial-id-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
                -
                    $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
                -
                    $ref: '#/components/parameters/x-fapi-interaction-id-Param'
                -
                    $ref: '#/components/parameters/AuthorizationParam'
                -
                    $ref: '#/components/parameters/x-customer-user-agent-Param'
                -
                    name: sandbox-id
                    description: The unique id of the sandbox to be used
                    schema:
                        type: string
                    in: header
                    required: true
            responses:
                '200':
                    $ref: '#/components/responses/200InternationalStandingOrderPaymentsInternationalPaymentIdRead'
                '400':
                    $ref: '#/components/responses/400ErrorResponse'
                '401':
                    $ref: '#/components/responses/401ErrorResponse'
                '403':
                    $ref: '#/components/responses/403ErrorResponse'
                '404':
                    $ref: '#/components/responses/404ErrorResponse'
                '405':
                    $ref: '#/components/responses/405ErrorResponse'
                '406':
                    $ref: '#/components/responses/406ErrorResponse'
                '429':
                    $ref: '#/components/responses/429ErrorResponse'
                '500':
                    $ref: '#/components/responses/500ErrorResponse'
            operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
            summary: Get International Standing Orders
components:
    schemas:
        InternationalStandingOrder:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBInternationalStandingOrder2'
                status:
                    enum:
                        - InitiationCompleted
                        - InitiationFailed
                        - InitiationPending
                    type: string
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
        InternationalScheduledPayment:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBInternationalScheduled2'
                status:
                    enum:
                        - InitiationCompleted
                        - InitiationFailed
                        - InitiationPending
                    type: string
                expectedSettlementDateTime:
                    format: date-time
                    type: string
                expectedExecutionDateTime:
                    format: date-time
                    type: string
                exchangeRateInformation:
                    $ref: '#/components/schemas/OBExchangeRate2'
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
        InternationalPayment:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBInternational2'
                exchangeRateInformation:
                    $ref: '#/components/schemas/OBExchangeRate2'
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
                status:
                    enum:
                        - AcceptedSettlementCompleted
                        - AcceptedSettlementInProcess
                        - Pending
                        - Rejected
                    type: string
        DomesticScheduledPayment:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBDomesticScheduled2'
                status:
                    enum:
                        - InitiationCompleted
                        - InitiationFailed
                        - InitiationPending
                    type: string
                expectedSettlementDateTime:
                    format: date-time
                    type: string
                expectedExecutionDateTime:
                    format: date-time
                    type: string
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
        DomestictStandingOrder:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBDomesticStandingOrder2'
                status:
                    enum:
                        - InitiationCompleted
                        - InitiationFailed
                        - InitiationPending
                    type: string
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
        DomesticPayment:
            type: object
            properties:
                paymentInfo:
                    $ref: '#/components/schemas/OBDomestic2'
                consentId:
                    type: string
                paymentId:
                    type: string
                creationDatetime:
                    format: date-time
                    type: string
                status:
                    enum:
                        - AcceptedSettlementCompleted
                        - AcceptedSettlementInProcess
                        - Pending
                        - Rejected
                    type: string
        BankAccount:
            required:
                - iban
                - balance
                - currency
            type: object
            properties:
                iban:
                    type: string
                balance:
                    format: double
                    type: number
                currency:
                    type: string
                domesticPayments:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/DomesticPayment'
                domesticStandingOrders:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/DomestictStandingOrder'
                domesticScheduledPayments:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/DomesticScheduledPayment'
                internationalPayments:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/InternationalPayment'
                internationalScheduledPayments:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/InternationalScheduledPayment'
                internationalStandingOrders:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/InternationalStandingOrder'
        User:
            type: object
            properties:
                userId:
                    type: string
                idempotencies:
                    type: object
                    additionalProperties:
                        type: object
                consents:
                    type: object
                    additionalProperties:
                        type: object
                accounts:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/BankAccount'
        Sandbox:
            required:
                - sandboxId
            type: object
            properties:
                sandboxId:
                    description: The Sandbox ID
                    pattern: '^[a-zA-Z0-9_-]+$'
                    type: string
                users:
                    uniqueItems: false
                    type: array
                    items:
                        $ref: '#/components/schemas/User'
        SandboxRequest:
            required:
                - sandboxId
            type: object
            properties:
                sandboxId:
                    description: The Sandbox ID
                    pattern: '^[a-zA-Z0-9_-]+$'
                    type: string
        OBActiveCurrencyAndAmount_SimpleType:
            description: >-
                A number of monetary units specified in an active currency where the unit of currency is
                explicit and compliant with ISO 4217.
            pattern: '^\d{1,13}\.\d{1,5}$'
            type: string
        OBActiveOrHistoricCurrencyAndAmount:
            required:
                - Amount
                - Currency
            type: object
            properties:
                Amount:
                    $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                Currency:
                    pattern: '^[A-Z]{3,3}$'
                    type: string
            additionalProperties: false
        OBAddressTypeCode:
            description: Identifies the nature of the postal address.
            enum:
                - Business
                - Correspondence
                - DeliveryTo
                - MailTo
                - POBox
                - Postal
                - Residential
                - Statement
            type: string
        OBAuthorisation1:
            description: The authorisation type request from the TPP.
            required:
                - AuthorisationType
            type: object
            properties:
                AuthorisationType:
                    $ref: '#/components/schemas/OBExternalAuthorisation1Code'
                CompletionDateTime:
                    format: date-time
                    description: |-
                        Date and time at which the requested authorisation flow must be completed.
                        All dates in the JSON payloads are represented in ISO 8601 date-time format.
                        All date-time fields in responses must include the timezone. An example is below:
                        2017-04-05T10:43:07+00:00
                    type: string
            additionalProperties: false
        OBChargeBearerType1Code:
            description: >-
                Specifies which party/parties will bear the charges associated with the processing of the
                payment transaction.
            enum:
                - BorneByCreditor
                - BorneByDebtor
                - FollowingServiceLevel
                - Shared
            type: string
        OBDomestic2:
            description: >-
                The Initiation payload is sent by the initiating party to the ASPSP. It is used to request
                movement of funds from the debtor account to a creditor for a single domestic payment.
            required:
                - InstructionIdentification
                - EndToEndIdentification
                - InstructedAmount
                - CreditorAccount
            type: object
[...]
