swagger: '2.0'
info:
  title: i-bank Pay OAuth2 Sandbox API
  version: v1.7
  description: "## What can I do?\nPerform money transfers to another member or merchant or even make donations by just **registering as a Member** to our service and verifying your mobile device as a trusted one. Once the registration step is completed simply **select the other member** you wish to **send money to or request money from or pay** and pretty much that's it.\n\n\n\n## How To Get Started \n\n1. **Login/Register** to the NBG Technology HUB\n2. Go to **\"APPS\"** and  click **\"Create New App\"**:\n    1. Fill in the form fields. \n    2. Check **\"Authorization Code\"**.\n    3. Enter the **OAuth Redirect and Post Logout URIs** (these are the URIs that we will redirect the user upon logging in and logging out respectively)\n       \n       You can use the following redirect URL to easily test the API through the portal:\n *https://developer.nbg.gr/oauth2/redoc-callback*\n    4. **Submit** your new APP\n    5. Store the APPs **\"Client ID\"** and **\"Client Secret\"**\n3. Go to **\"API PRODUCTS\"** and select the **[Digital Payments Wallet](https://developer.nbg.gr/partner/apiProduct/)**\n4. Click **\"START USING THIS API\"**, choose your app and click **\"SUBSCRIBE\"**\n5. Get an Access Token using the **[Authorization Code](https://developer.nbg.gr/documentation/Get-Token-API-v1-4379#tag/Authorization-Code)** Flow (with the credentials that you used to sign in as a developer) and the **API scopes** provided in the Authentication and Authorization (OAuth2) section below\n\n      **Please note:** The access token is required for using the API and is valid for a specific period of time (3600 seconds).\n6. Create a **[Sandbox](https://developer.nbg.gr/documentation//ibank-Pay-Sandbox-OAuth2-v17#operation/Sandbox_CreateSandbox)**\n\n\n7. **Play** with the API\n\n**Authentication and Authorization (OAuth2)**\n\n This API version uses the OAuth2 protocol for authentication and authorization, which means that a Bearer (access token) should be acquired.\n\nAn access token can be retrieved using the client_id and client_secret of the APP that you created and subscribed in this API and your own credentials (username, password) that you use to sign in the NBG Technology HUB.The scopes are defined below: \n\n**SCOPES**\n\n **Sandbox**:\n\n    sandbox-i-bank-pay-api-v1-7\n\n **Production**: \n\n    i-bank-pay-api-v1-7\n\n \n\n**ENDPOINTS**\n\n**Authorization Endpoint**: https://my.nbg.gr/identity/connect/authorize\n\n**Token Endpoint:** https://my.nbg.gr/identity/connect/token\n\nSee more [here](https://developer.nbg.gr/oauth-document)\n\n**Create your Sandbox**\n\nSandboxes are self - contained testing environments that provide a simple way of testing the API without any real impact, meaning that no personal or financial data is used.\n\n You can create your Sandbox by invoking the POST /api/sandbox call by simply providing an \"id\" as your sandbox id and naming it almost anything you like. A sandbox with pre-populated data will be created.\n\n**Important!** Don't lose your sandbox_id, since you will need it for all the API calls. Sandbox endpoints are not included in the production version API.\n\nThe following HTTP **header parameters** are required for every call (except for sandbox operations): \n1.\tsandbox_id \n2.\t Authorization\n\n**Sandbox Operations:** \n1.\tCreate a sandbox: POST /sandbox \n2.\tExport a sandbox: GET /sandbox/{sandbox_id}\n3.\tImport a sandbox: PUT /sandbox/{sandbox_id}\n4.\tDelete a sandbox: DELETE /sandbox/{sandbox_id}\n5.\tCreate your Sandbox Users: After creating your sandbox application, administrators may create users using POST /sandbox/{sandbox_id}/users\n6.\tCreate a sandbox POS device: POST /sandbox/devices\n\n## How do I register as a member?\nSimply invoke the /p2p/_**registerMember**_ and you are done.\n\n## How do I send money?\nOnce you have registered as a member find from your list of contacts the member you wish to send money or make a donation (e.g. Unicef).\n\n## How do I request money?\nSimply invoke the /p2p/_**credit**_ and the other member can accept or reject it.\n\n## How do I pay a merchant?\nThe merchant will invoke the /p2p/_**machinePaymentRequestRegistration**_ and then the member can accept the payment by invoking the /p2p/_**acceptCredit**_ or reject it by invoking the /p2p/_**rejectCredit**_ .\n\n## Sandbox Member Endpoints \n1.\t_POST_ /p2p/_**registerMember**_\nIf you are not already registered to our service, invoke this endpoint to register. The mobile device registration is mandatory.\n2.\t_POST_ /p2p/_**productList**_\nInvoke this endpoint to find the list of your accounts and cards.\n3.\t_POST_ /p2p/_**selectAccount**_\nInvoke this endpoint to select the account you wish to use (e.g. an account or card). This is useful for the users that have registered as members with more than one account.\n4.\t_POST_ /p2p/_**discoverMemberV2**_\nInvoke this endpoint to search for members by supplying their network id (e.g. mobile phone number)\n5.\t_POST_ /p2p/_**payV2**_\nInvoke this endpoint to make a payment to another member.\n6.\t_POST_ /p2p/_**credit**_\nInvoke this endpoint to make a request to another member to send you money.\n7.\t_POST_ /p2p/_**acceptCredit**_\nInvoke this endpoint to accept another's member request to send him money (or approve a merchant payment)\n8.\t_POST_ /p2p/_**rejectCredit**_\nInvoke this endpoint to reject another's member request to send him money\n9.\t_POST_ /p2p/_**walletTransactionList**_\nInvoke this endpoint to get the list of your transactions\n10. _POST_ /p2p/_**disableMember**_\nInvoke this endpoint to deactivate yourself as member\n\n\n## Sandbox Merchant Endpoints:\n1. _POST_ /p2b/_**machinePaymentRequestRegistration**_\nInvoke this endpoint to create a payment request as a merchant\n2.  _POST_ /p2b/_**machinePaymentRequestRegistrationV2**_\nInvoke this endpoint to create a payment request as a merchant\n2. _POST_ /p2b/_**machinePaymentRequestInfo**_\nInvoke this endpoint to get the status of the payment request\n\n## Use cases\n1. A user owns a prepaid card or a payband (wearable) and wants to view the card balance and the list of card transactions through his mobile device. The API call sequence should be:\n\n\t_POST_ **/p2p/askAccountV3** to check if wallet member already exists\n\n\t_POST_ **/p2p/registerAccount** to create a new wallet member, if additional verification is required a verification code will be sent via SMS to register the mobile device (bypass if member already exists)\n\n\t_POST_ **/p2p/registerDevice** to register the mobile device (bypass if member does not already exist)\n\n\t_POST_ **/p2p/verifyDeviceRegistration** to complete the mobile device registration using the verification code (if additional verification was required)\n\n\t_POST_ **/p2p/askAccountV3** to get the wallet member status\n\n\t_POST_ **/p2p/registerAccountFastLogin** to set a PIN or fingerprint for the fast login feature\n\n\tLog in again so the token is updated.\n\n\t_POST_ **/p2p/getAccountsInfo** to retrieve the card balance\n\n\t_POST_ **/p2p/getProductTransactions** to retrieve the list of card transactions\n\n\t_POST_ **/p2p/addForeignAccount** to add an additional prepaid card or payband (wearable), a verification code will be sent via SMS to the card owner\n\n\t_POST_ **/p2p/addAccountVerification** to complete the additional card/payband addition using the verification code\n\n\t_POST_ **/p2p/getAccountsInfo** to retrieve the card balance for both cards\n\n\t_POST_ **/p2p/getProductTransactions** to retrieve the list of card transactions for the additional card\n\nPostman collections for UseCase1 are available\n\n[Sandbox Postman Collection](https://github.com/myNBGcode/PostmanCollections/tree/master/i-bank%20Pay%20API)"
  contact:
    name: Developers portal support mail
    email: developer@nbg.gr
host: apis.nbg.gr
basePath: /sandbox/ibankpay/oauth2/v1.7
schemes:
  - https
paths:
  /Account/accountList:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Account
      parameters:
        - name: request
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.ProductListRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.Nbg.Services.Types.Product.ProductListResponse'
      operationId: Account_accountList
      summary: Returns user's Account List
      description: "This service is called to return bank accounts for a user, specified by userID.\r\n\r\n    POST /accountList\r\n    {\r\n        \"userId\": \"1000815\",\r\n        \"actualUserId\": \"1000815\"\r\n    }"
  /contacts:
    get:
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Contact
      parameters:
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
      operationId: Contact_GetContactList
      summary: Get All Contacts
      description: Get All Contacts
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Contact
      parameters:
        - name: request
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.PhoneContact'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
      operationId: Contact_UpdateContactList
      summary: Update Contacts
      description: "Update Contacts\r\n\r\n\r\nSample request:\r\n\r\n    PUT /contacts\r\n    [\r\n      {\r\n        \"phone\": \"+306987654321\",\r\n        \"firstname\": \"Giorgos\",\r\n        \"lastname\": \"Theodorou\"\r\n      }\r\n    ]"
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Contact
      parameters:
        - name: request
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.PhoneContact'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
      operationId: Contact_CreateContactList
      summary: Create Contacts
      description: "Create Contacts based on the request. Only IBankPay Users can have Contacts\r\n\r\n\r\nSample request:\r\n\r\n    POST /contacts\r\n    [\r\n        {\r\n            \"phone\": \"+306987654321\",\r\n            \"firstname\": \"Marina\",\r\n            \"lastname\": \"Papathanasiou\"\r\n        }\r\n    ]"
  /contacts/deleteContact:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - Contact
      parameters:
        - name: phone
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Phone'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPay.Types.P2P.BooleanResult'
      operationId: Contact_DeleteContact
      summary: Delete Contact
      description: "Delete Contact based on Phone Number\r\n\r\n\r\nSample request:\r\n\r\n    POST /contacts/deleteContact\r\n    {\r\n      \"phone\": \"+306987654321\"\r\n    }"
  /P2B/registerExternalDevice:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.ExternalDevice'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.RegisterExternalDeviceResponse'
      operationId: P2B_registerExternalDevice
      summary: Register i-bank Connector device
      description: "Registers an i-bank Connector device (MatPOS) and returns the device registration id.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerExternalDevice\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"deviceClass\": \"MatPos\",\r\n        \"externalDeviceId\": \"49F620EC-D4B8-4682-AC6D-EFEAB9EA2D42\",\r\n        \"account\": \"33333333333\",\r\n        \"firstName\": \"Nikos\",\r\n        \"surName\": \"Oikonomou\",\r\n        \"title\": \"Oikonomou N.\",\r\n        \"address\": \"Marathonos 888 Pikermi\",\r\n        \"phone\": \"2161234567\",\r\n        \"friendlyName\": \"i-Bank Connector 2\",\r\n        \"status\": \"Active\",\r\n        \"tanNumber\": null,\r\n        \"isSmsOtp\": false\r\n    }"
  /P2B/getRegisteredDevices:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetRegisteredDevicesRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.ExternalDevice'
      operationId: P2B_getRegisteredDevices
      summary: Get Registered Devices
      description: "Returns details for merchant pos, specified by userid and device class(SandboxPos, MatPos, SandboxServer).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getRegisteredDevices\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"deviceClass\": \"MatPos\"\r\n    }"
  /P2B/machinePaymentRequestRegistration:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRegistrationRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentRegistrationResponse'
      operationId: P2B_machinePaymentRequestRegistration
      summary: Registers a payment request in i-bank Pay
      description: "This service is called to register a payment request. Payment requests have a specific life span within which they must be approved / rejected by the customer. In the event of successful approval they will be completed at a later stage by calling MachinePaymentRequestInfo service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestRegistration\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"amount\": 150.20,\r\n        \"reason\": \"reason\",\r\n        \"paymentRequestMachineIdentifier\": \"0CC2BF08-168B-4F9B-A1C0-6CFFF4E26D4F\"\r\n    }"
  /P2B/machinePaymentRequestRegistrationV2:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentRegistrationV2Request'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentRegistrationV2Response'
      operationId: P2B_machinePaymentRequestRegistrationV2
      summary: Registers a payment request in i-bank Pay
      description: "This service is called to register a payment request. Payment requests have a specific life span within which they must be approved / rejected by the customer. In the event of successful approval they will be completed at a later stage by calling MachinePaymentRequestInfo service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestRegistration\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"amount\": 150.20,\r\n        \"reason\": \"reason\",\r\n        \"paymentRequestMachineIdentifier\": \"0CC2BF08-168B-4F9B-A1C0-6CFFF4E26D4F\"\r\n    }"
  /P2B/machinePaymentRequestInfo:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentInfoRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentInfoResponse'
      operationId: P2B_machinePaymentRequestInfo
      summary: Payment Status Request
      description: "This service is used to query the status of a payment request in i-bank Pay from a POS / middleware server. If the payment request has been approved by the customer and has not expired, then the amount is transferred to the merchant and this service returns the result. Otherwise, it simply returns the status of the payment request.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestInfo\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"refId\": \"3b54537d-9db4-47a7-ad3d-0662d526ab12\"\r\n    }"
  /P2B/machinePaymentRequestInfoV2:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentInfoRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentInfoResponse'
      operationId: P2B_machinePaymentRequestInfoV2
      summary: Payment Status Request
      description: 'This service is used to query the status of a payment request in i-bank Pay from a POS / middleware server. If the payment request has been approved by the customer and has not expired, then the amount is transferred to the merchant and this service returns the result. Otherwise, it simply returns the status of the payment request.'
  /P2B/transactionHistory:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.TransactionP2B'
      operationId: P2B_transactionHistory
      summary: Get Transaction History
      description: "Returns list of transactions which the status is not pending.<br />\r\nPayload parameters are:<br />\r\n- userID<br />\r\n- externalDeviceID<br />\r\n- deviceClass<br />\r\n- dateFrom<br />\r\n- dateTo<br />\r\n- employeeID<br />\r\n- groupID\r\n\r\n\r\nSample request:\r\n\r\n    POST /transactionHistory\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"7777777777777777\",\r\n        \"deviceClass\": \"MatPos\",\r\n        \"dateFrom\": \"2016-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
  /P2B/countActiveDevices:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.DevicesList'
      operationId: P2B_countActiveDevices
      summary: Count Active Devices
      description: "Returns number of active POS per device class, specified by merchant (userID).\r\n\r\n\r\nSample request:\r\n\r\n    POST /countActiveDevices\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
  /P2B/getPortalServices:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.PortalService'
      operationId: P2B_getPortalServices
      summary: Get Portal Services
      description: "Returns details for all portal services (device class).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getPortalServices\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
  /P2B/paymentRequestInfoV2:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PaymentInfoRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PaymentInfoResponse'
      operationId: P2B_paymentRequestInfoV2
      summary: Payment Request Info
      description: "Returns details of a payment\r\n\r\n\r\nSample request:\r\n\r\n    POST /paymentRequestInfoV2\r\n    {\r\n        \"userId\": \"7777777777777777\",\r\n        \"actualUserId\": \"7777777777777777\",\r\n        \"memberId\": \"543e6ece-4352-4da7-bf6a-b4f818668a46\",\r\n        \"deviceRegistrationId\": \"06485136-30c5-4dd7-8448-51b21cb8137c\",\r\n        \"refId\": \"3b54537d-9db4-47a7-ad3d-0662d526ab12\"\r\n    }"
  /P2B/paymentRequestInfoV3:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PaymentInfoRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PaymentInfoResponse'
      operationId: P2B_paymentRequestInfoV3
      summary: Payment Request Info
      description: 'Returns details of a payment, includes information in case of points redemption'
  /P2B/getPosInfo:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PosInfoRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PosInfoResponse'
      operationId: P2B_getPosInfo
      summary: Get POS Info
      description: "Returns information for a POS, specified by userID and posID.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getPosInfo\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"posId\": \"88888888\"\r\n    }"
  /P2B/getGroups:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.GroupP2B'
      operationId: P2B_getGroups
      summary: Get Groups
      description: "Returns list of shops with employees.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getGroups\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
  /P2B/getMemberImage:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetMemberImageRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetMemberImageResponse'
      operationId: P2B_getMemberImage
      summary: Get Member Image
      description: "Get member image\r\n\r\n\r\nSample request:\r\n\r\n    POST /getMemberImage\r\n    {\r\n        \"userId\": \"7777777777777777\",\r\n        \"actualUserId\": \"7777777777777777\",\r\n        \"memberId\": \"1b78eea8-761c-475b-8a28-2abb2c47fc35\",\r\n        \"deviceRegistrationId\": \"06485136-30c5-4dd7-8448-51b21cb8137c\",\r\n        \"imageId\": \"918a2014-732f-4f7b-8cf5-df00271e644d\"\r\n    }"
  /P2B/updateMachineInfo:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.ExternalDevice'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: boolean
      operationId: P2B_updateMachineInfo
      summary: Update Machine Info
      description: "Updates info of a machine, if the address and the title do not exist, a member and a group are created.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateMachineInfo\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"externalDeviceId\": \"99999999\",\r\n        \"account\": \"99999999999\",\r\n        \"firstName\":null,\r\n        \"surName\": null,\r\n        \"title\": \"Afoi Papadopouloi A.E.\",\r\n        \"address\": \"GARGITTOU 999 Gerakas\",\r\n        \"phone\": \"2189999999\",\r\n        \"friendlyName\": \"My Updated2 Sandbox Pos\",\r\n        \"status\": \"Active\",\r\n        \"tanNumber\": null,\r\n        \"isSmsOtp\": true\r\n    }"
  /P2B/exportTransactionHistoryPdf:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
      operationId: P2B_exportTransactionHistoryPdf
      summary: Export Transaction History PDF
      description: "Export Transaction History PDF\r\n\r\n\r\nSample request:\r\n\r\n    POST /exportTransactionHistoryPdf\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
  /P2B/exportTransactionHistoryXls:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
      operationId: P2B_exportTransactionHistoryXls
      summary: Export Transaction History XLS
      description: "Export Transaction History XLS\r\n\r\n\r\nSample request:\r\n\r\n    POST /exportTransactionHistoryXls\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
  /P2B/monthlyPdfChannelReport:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
      operationId: P2B_monthlyPdfChannelReport
      summary: Monthly Pdf Channel Report
      description: "Monthly Pdf Channel Report\r\n\r\n\r\nSample request:\r\n\r\n    POST /monthlyPdfChannelReport\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-11-01T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-30T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
  /P2B/getEmployees:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.EmployeeP2B'
      operationId: P2B_getEmployees
      summary: Get Employees
      description: "Returns list of employees specified by userID (merchant).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getEmployees\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
  /P2B/getServiceDevices:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetServiceDevicesRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetServiceDevicesResponse'
      operationId: P2B_getServiceDevices
      summary: Return all external devices for merchant
      description: "Returns all external devices for merchant.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getServiceDevices\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"actualUserId\": \"COMPAN002900001\",\r\n        \"serviceName\": \"ExternalService\"\r\n    }"
  /P2B/updateServiceDevices:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UpdateServiceDevicesRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetServiceDevicesResponse'
      operationId: P2B_updateServiceDevices
      summary: Register/Unregister external devices of merchant
      description: "Register/Unregister external devices of merchant.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateServiceDevices\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"actualUserId\": \"COMPAN002900001\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"devices\": [\r\n         {\r\n           \"externalDeviceId\": \"99999999\",\r\n           \"deviceClass\": \"ExternalService\",\r\n           \"serviceName\": \"ExternalService\",\r\n           \"status\": \"Active\",\r\n           \"updatedOn\": \"2018-03-21T11:00:02.354Z\"\r\n         }\r\n       ]\r\n    }"
  /P2B/machinePaymentDetails:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentDetailsRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentDetailsResponse'
      operationId: P2B_machinePaymentDetails
      summary: Return details of a payment request
      description: "Returns the details of a payment request to the third-party user.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentDetails\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"refId\": \"1cc50d4d-6d69-485a-827d-c0fa3004fe7a\"\r\n    }"
  /P2B/machinePaymentRequestUpdate:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRequestUpdateRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.MachinePaymentResponse'
      operationId: P2B_machinePaymentRequestUpdate
      summary: Update status of a payment
      description: "Updates the status of a transaction if the accounting is done by the third party software or the transaction is rejected by the client.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestUpdate\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"refId\": \"1cc50d4d-6d69-485a-827d-c0fa3004fe7a\",\r\n        \"status\": \"\",\r\n        \"rejectionReason\": \"\"\r\n    }"
  /P2B/machinePaymentRequestPay:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2B
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRequestPayRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.MachinePaymentResponse'
      operationId: P2B_machinePaymentRequestPay
      summary: Complete the payment of a transaction
      description: "Completes the payment of a transaction if the accounting (partial or total) is made by NBG.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestPay\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"refId\": \"c17d5f8a-0c06-45b0-8cdc-ac3f6add2da8\",\r\n        \"amount\": 20.20\r\n    }"
  /P2P/registerMember:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RegisterMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.RegisterMemberResponse'
      operationId: P2P_registerMember
      summary: Registers a member in i-bank Pay service
      description: "This service is called to register a member in i-bank Pay service. To complete member registration you must call DeviceRegistration and VerifyDeviceRegistration services.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerMember\r\n    {\r\n    \t\t\"userId\": \"1000860\",\r\n    \t\t\"actualUserId\": \"1000860\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"contactId\": null,\r\n    \t\t\t\"firstName\": \"Nomikou\",\r\n    \t\t\t\"surName\": \"Maria\",\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [],\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"identities\": []\r\n    \t\t},\r\n    \t\t\"accounts\": [{\r\n    \t\t\t\"accountId\": null,\r\n    \t\t\t\"account\": \"99999999999\",\r\n    \t\t\t\"alias\": \"myAccount\",\r\n    \t\t\t\"type\": \"Account\",\r\n    \t\t\t\"use\": \"WalletAccount\",\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"preferredFlag\": true\r\n    \t\t}],\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": null,\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": true,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}],\r\n    \t\t\"deviceInfo\": {\r\n    \t\t\t\"deviceRegistrationId\": null,\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"deviceName\": \"samsung\",\r\n    \t\t\t\"deviceId\": \"359469061837294\",\r\n    \t\t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\t\"ind\": false,\r\n    \t\t\t\"refId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"application\": \"df8681ec-c8d1-43c3-9966-f4fbf69acce9\"\r\n    \t\t}\r\n    }"
  /P2P/disableMember:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.DisableMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
      operationId: P2P_disableMember
      summary: Disables a member
      description: "This service is called to disable a user from i-bank Pay service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /disableMember\r\n    {\r\n        \"userId\": \"1000860\",\r\n        \"actualUserId\": \"1000860\",\r\n        \"memberId\": \"a7ddedc7-4217-4718-8a3f-cddb038fdb6f\",\r\n        \"deviceRegistrationId\": \"b76f371b-ef48-4824-a6ee-7b58f7fe7989\"\r\n    }"
  /P2P/discoverMemberV2:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.DiscoverMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.DiscoverMemberResponse'
      operationId: P2P_discoverMemberV2
      summary: Searches for users by identity
      description: "This service is called to search i-bank Pay users or IRIS users by identities, such as mobile phone or AFM.\r\n\r\n\r\nSample request:\r\n\r\n    POST /discoverMemberV2\r\n    {\r\n        \"userId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"actualUserId\": \"1000815\",\r\n        \"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n        \"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n        \"identities\": [\r\n          {\r\n            \"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n            \"network\": \"mobile\",\r\n            \"networkId\": \"+306944444444\",\r\n            \"matched\": true,\r\n            \"nickName\": \"marion\",\r\n            \"preferredAccount\": \"6519d427-2b54-45f9-9591-81dfa64fd362\",\r\n            \"preferredAccountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd4\",\r\n            \"verificationCode\": \"2345\",\r\n            \"status\": \"active\",\r\n            \"accessToken\": \"\"\r\n          }\r\n        ],\r\n        \"removed\": [\r\n          {\r\n            \"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n            \"network\": \"mobile\",\r\n            \"networkId\": \"+306944444444\",\r\n            \"matched\": true,\r\n            \"nickName\": \"marion\",\r\n            \"preferredAccount\": \"6519d427-2b54-45f9-9591-81dfa64fd362\",\r\n            \"preferredAccountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd4\",\r\n            \"verificationCode\": \"2345\",\r\n            \"status\": \"active\",\r\n            \"accessToken\": \"\"\r\n          }\r\n        ]\r\n    }"
  /P2P/termsAccepted:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.TermsAcceptedRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
      operationId: P2P_termsAccepted
      summary: Renews the acceptance of the terms
      description: "This service is called to renew the user's acceptance of i-bank Pay terms of use\r\n\r\n\r\nSample request:\r\n\r\n    POST /termsAccepted\r\n    {\r\n        \"userId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"actualUserId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n        \"deviceRegistrationId\": null\r\n    }"
  /P2P/askMember:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AskMemberResponse'
      operationId: P2P_askMember
      summary: Asks for Member
      description: "This service is called to search for the existence of a user and his status of registration.\r\n\r\n\r\nSample request:\r\n\r\n    POST /askMember\r\n    {\r\n        \"userId\": \"1000815\",\r\n        \"actualUserId\": \"1000815\"\r\n    }"
  /P2P/askMemberV2:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AskMemberResponse'
      operationId: P2P_askMemberV2
      summary: Asks for Member
      description: This service is called to search for the existence of a user and his status of registration. It also handles the Loyalty Registry.
  /P2P/verifyMemberRegistration:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.VerifyMemberRegistrationRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.VerifyMemberRegistrationResponse'
      operationId: P2P_verifyMemberRegistration
      summary: Verifies the registration of a member
      description: "This service is called to verify a member by sending sms. The former call might be registerMember.\r\n\r\n\r\nSample request:\r\n\r\n    POST /verifyMemberRegistration\r\n    {\r\n    \t\t\"userId\": \"11111\",\r\n    \t\t\"actualUserId\": \"11111\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": \"a7ddedc7-4217-4718-8a3f-cddb038fdb6f\",\r\n    \t\t\t\"contactId\": null,\r\n    \t\t\t\"firstName\": \"Nomikou\",\r\n    \t\t\t\"surName\": \"Maria\",\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [],\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"identities\": []\r\n    \t\t},\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": null,\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": true,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}],\r\n    \t\t\"accounts\": [{\r\n    \t\t\t\"accountId\": null,\r\n    \t\t\t\"account\": \"99999999999\",\r\n    \t\t\t\"alias\": \"myAccount\",\r\n    \t\t\t\"type\": \"Account\",\r\n    \t\t\t\"use\": \"WalletAccount\",\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"preferredFlag\": true\r\n    \t\t}],\r\n    \t\t\"deviceInfo\": {\r\n    \t\t\t\"deviceRegistrationId\": null,\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"deviceName\": \"samsung\",\r\n    \t\t\t\"deviceId\": \"359469061837294\",\r\n    \t\t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\t\"ind\": false,\r\n    \t\t\t\"refId\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"application\": \"bc9fec17-3641-4a0c-a5e8-ac1d0ded15d4\"\r\n    \t\t},\r\n    \t\t\"refId\": null\r\n    }"
  /P2P/updateMember:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.UpdateMemberRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
      operationId: P2P_updateMember
      summary: Updates a member
      description: "This service is called to update a user's information.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateMember\r\n    {\r\n    \t\t\"userId\": \"1000815\",\r\n    \t\t\"actualUserId\": \"1000815\",\r\n    \t\t\"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n    \t\t\"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n    \t\t\t\"contactId\": \"4e650d4f-b573-47c1-bbb0-898ad28d01c5\",\r\n    \t\t\t\"firstName\": \"Maria\",\r\n    \t\t\t\"surName\": \"Ioannou\",\r\n    \t\t\t\"nickName\": \"marion\",\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [{\r\n    \t\t\t\t\"name\": \"DiasInstantPayments\",\r\n    \t\t\t\t\"isPrimary\": false,\r\n    \t\t\t\t\"description\": null\r\n    \t\t\t},\r\n    \t\t\t{\r\n    \t\t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\t\"isPrimary\": true,\r\n    \t\t\t\t\"description\": null\r\n    \t\t\t}],\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"identities\": [{\r\n    \t\t\t\t\"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n    \t\t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\t\"networkId\": \"+306944444444\",\r\n    \t\t\t\t\"matched\": null,\r\n    \t\t\t\t\"nickName\": \"UT\",\r\n    \t\t\t\t\"preferredAccount\": null,\r\n    \t\t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\t\"verificationCode\": null,\r\n    \t\t\t\t\"status\": \"Active\",\r\n    \t\t\t\t\"accessToken\": null\r\n    \t\t\t}]\r\n    \t\t}\r\n    }"
  /P2P/updateRegistry:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPaySandbox.Types.Sandbox.UpdateRegistryRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.GenericResponse'
      operationId: P2P_updateRegistry
      summary: Registers a member to a registry
      description: "This service is called to register a user to an external registry.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateRegistry\r\n    {\r\n        \"userId\": \"1000815\",\r\n        \"actualUserId\": \"1000815\",\r\n        \"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n        \"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n        \"registry\": \"DiasInstantPayments\"\r\n    }"
  /P2P/registerDevice:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RegisterDeviceRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.RegisterDeviceResponse'
      operationId: P2P_registerDevice
      summary: Registers a member's device
      description: "This service is called to register a member's device. In the event of successful registration it will be completed at a later stage by calling VerifyDeviceRegistration service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerDevice\r\n    {\r\n    \t\"userId\": \"1000860\",\r\n    \t\"actualUserId\": \"1000860\",\r\n    \t\"member\": {\r\n    \t\t\"memberId\": \"65c56c65-cda8-47d3-affe-4a72b512c4a7\",\r\n    \t\t\"contactId\": null,\r\n    \t\t\"firstName\": null,\r\n    \t\t\"surName\": null,\r\n    \t\t\"nickName\": null,\r\n    \t\t\"title\": null,\r\n    \t\t\"registries\": [{\r\n    \t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\"isPrimary\": true,\r\n    \t\t\t\"description\": null\r\n    \t\t},\r\n    \t\t{\r\n    \t\t\t\"name\": \"DiasInstantPayments\",\r\n    \t\t\t\"isPrimary\": false,\r\n    \t\t\t\"description\": null\r\n    \t\t}],\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": \"dcaa206d-dce0-4eba-96ea-4112b71f1130\",\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": null,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": \"999*****999\",\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}]\r\n    \t},\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"1b93bcee-8d92-48a3-a339-13312af1be54\",\r\n    \t\t\"account\": \"999*****999\",\r\n    \t\t\"alias\": \"Katatheseis Tamieutiriou\",\r\n    \t\t\"type\": \"Account\",\r\n    \t\t\"use\": \"WalletAccount\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}],\r\n    \t\"deviceInfo\": {\r\n    \t\t\"deviceRegistrationId\": null,\r\n    \t\t\"memberId\": \"65c56c65-cda8-47d3-affe-4a72b512c4a7\",\r\n    \t\t\"deviceName\": \"iPhone\",\r\n    \t\t\"deviceId\": \"f0321355-79ab-4eb1-931d-6ab97e83ba31\",\r\n    \t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\"ind\": true,\r\n    \t\t\"refId\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"application\": \"f0321355-79ab-4eb1-931d-6ab97e83ba31\"\r\n    \t}\r\n    }"
  /P2P/verifyDeviceRegistration:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.VerifyDeviceRegistrationRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.VerifyDeviceRegistrationResponse'
      operationId: P2P_verifyDeviceRegistration
      summary: Verifies the registration of a device
      description: "This service is called to verify a device by sending sms. The former call might be registerDevice or registerAccount.\r\n\r\n\r\nSample request:\r\n\r\n    POST /verifyDeviceRegistration\r\n    {\r\n    \t\"userId\": \"1000860\",\r\n    \t\"actualUserId\": \"1000860\",\r\n    \t\"member\": {\r\n    \t\t\"memberId\": \"65c56c65-cda8-47d3-affe-4a72b512c4a7\",\r\n    \t\t\"contactId\": null,\r\n    \t\t\"firstName\": null,\r\n    \t\t\"surName\": null,\r\n    \t\t\"nickName\": null,\r\n    \t\t\"title\": null,\r\n    \t\t\"registries\": [{\r\n    \t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\"isPrimary\": true,\r\n    \t\t\t\"description\": null\r\n    \t\t},\r\n    \t\t{\r\n    \t\t\t\"name\": \"DiasInstantPayments\",\r\n    \t\t\t\"isPrimary\": false,\r\n    \t\t\t\"description\": null\r\n    \t\t}],\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": \"dcaa206d-dce0-4eba-96ea-4112b71f1130\",\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": null,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": \"999*****999\",\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}]\r\n    \t},\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"1b93bcee-8d92-48a3-a339-13312af1be54\",\r\n    \t\t\"account\": \"999*****999\",\r\n    \t\t\"alias\": \"Katatheseis Tamieutiriou\",\r\n    \t\t\"type\": \"Account\",\r\n    \t\t\"use\": \"WalletAccount\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}],\r\n    \t\"deviceInfo\": {\r\n    \t\t\"deviceRegistrationId\": null,\r\n    \t\t\"memberId\": \"65c56c65-cda8-47d3-affe-4a72b512c4a7\",\r\n    \t\t\"deviceName\": \"iPhone\",\r\n    \t\t\"deviceId\": \"a7e5949f-32cb-49a5-9c56-c578d963094e\",\r\n    \t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\"ind\": true,\r\n    \t\t\"refId\": \"6ca11ed5-659c-4fe5-8b93-5f8a0758c484\",\r\n    \t\t\"verificationCode\": \"123\",\r\n    \t\t\"application\": \"a7e5949f-32cb-49a5-9c56-c578d963094e\"\r\n    \t},\r\n    \t\"refId\": \"6ca11ed5-659c-4fe5-8b93-5f8a0758c484\",\r\n    \t\"verificationCode\": \"123\"\r\n    }"
  /P2P/registerExternalAppDevice:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RegisterExternalAppDeviceRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.RegisterExternalAppDeviceResponse'
      operationId: P2P_registerExternalAppDevice
      summary: Registers an external device
      description: "This service is called to register an external device. If the response contains the value RequiresVerification = true, verifyExternalAppDeviceRegistration service must be called.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerExternalAppDevice\r\n    {\r\n    \t\"userId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\"actualUserId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\"member\": {\r\n    \t\t\"memberId\": \"6519D427-2B54-45F9-9591-81DFA64FD363\",\r\n    \t\t\"contactId\": null,\r\n    \t\t\"firstName\": null,\r\n    \t\t\"surName\": null,\r\n    \t\t\"nickName\": null,\r\n    \t\t\"title\": null,\r\n    \t\t\"registries\": [{\r\n    \t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\"isPrimary\": true,\r\n    \t\t\t\"description\": null\r\n    \t\t}],\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": \"5a1fe5e2-97c1-4da8-93fe-fd18694d02ad\",\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": null,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}]\r\n    \t},\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\t\"account\": \"5162970092602629\",\r\n    \t\t\"alias\": null,\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"status\": null,\r\n    \t\t\"preferredFlag\": true\r\n    \t}],\r\n    \t\"deviceInfo\": {\r\n    \t\t\"deviceRegistrationId\": null,\r\n    \t\t\"memberId\": null,\r\n    \t\t\"deviceName\": \"Demo Device Name\",\r\n    \t\t\"deviceId\": null,\r\n    \t\t\"phoneNumber\": null,\r\n    \t\t\"ind\": true,\r\n    \t\t\"refId\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"application\": null\r\n    \t},\r\n    \t\"refId\": \"123\",\r\n    \t\"verificationCode\": \"123\"\r\n    }"
  /P2P/verifyExternalAppDeviceRegistration:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.VerifyExternalAppDeviceRegistrationRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.VerifyExternalAppDeviceRegistrationResponse'
      operationId: P2P_verifyExternalAppDeviceRegistration
      summary: Verifies the registration of an external device
      description: "This service is called to verify an external device. The former call might be registerExternalAppDevice.\r\n\r\n\r\nSample request:\r\n\r\n    POST /verifyExternalAppDeviceRegistration\r\n    {\r\n    \t\"userId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\"actualUserId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\"member\": {\r\n    \t\t\"memberId\": \"65c56c65-cda8-47d3-affe-4a72b512c4a7\",\r\n    \t\t\"contactId\": null,\r\n    \t\t\"firstName\": null,\r\n    \t\t\"surName\": null,\r\n    \t\t\"nickName\": null,\r\n    \t\t\"title\": null,\r\n    \t\t\"registries\": [{\r\n    \t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\"isPrimary\": true,\r\n    \t\t\t\"description\": null\r\n    \t\t}],\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": \"5a1fe5e2-97c1-4da8-93fe-fd18694d02ad\",\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": null,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}]\r\n    \t},\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"FC931974-E2F4-4FB2-978A-CDBD399BBD2D\",\r\n    \t\t\"account\": \"5162970092602629\",\r\n    \t\t\"alias\": null,\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"status\": null,\r\n    \t\t\"preferredFlag\": true\r\n    \t}],\r\n    \t\"deviceInfo\": {\r\n    \t\t\"deviceRegistrationId\": null,\r\n    \t\t\"memberId\": null,\r\n    \t\t\"deviceName\": null,\r\n    \t\t\"deviceId\": null,\r\n    \t\t\"phoneNumber\": null,\r\n    \t\t\"ind\": true,\r\n    \t\t\"refId\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"application\": null\r\n    \t},\r\n    \t\"refId\": \"123\",\r\n    \t\"verificationCode\": \"123\"\r\n    }"
  /P2P/selectAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.SelectAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
      operationId: P2P_selectAccount
      summary: Selects an account
      description: "This service is called to flag an account as preferred for an iBank Pay user to make his/her transactions.\r\n\r\n\r\nSample request:\r\n\r\n    POST /selectAccount\r\n    {\r\n    \t\"userId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"actualUserId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"memberId\": \"e992a7c6-ef83-4336-a5e8-a7eeb746d1c1\",\r\n    \t\"deviceRegistrationId\": \"3e3cde86-b201-4573-a3f9-0201e923ed31\",\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\t\"account\": \"5162970092602000\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}]\r\n    }"
  /P2P/registerAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RegisterAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.RegisterAccountResponse'
      operationId: P2P_registerAccount
      summary: Registers an account
      description: "This service is called to register an account for a user, only when logged in with credentials his card number.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerAccount\r\n    {\r\n    \t\"cardNumber\": \"4444972096602000\",\r\n    \t\"account\": {\r\n    \t\t\"accountId\": null,\r\n    \t\t\"account\": \"4444972096602000\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"preferredFlag\": false\r\n    \t},\r\n    \t\"member\": null,\r\n    \t\"identities\": null,\r\n    \t\"deviceInfo\": {\r\n    \t\t\"deviceRegistrationId\": null,\r\n    \t\t\"memberId\": null,\r\n    \t\t\"deviceName\": \"Dimitris'\\''s iPhone X\",\r\n    \t\t\"deviceId\": null,\r\n    \t\t\"phoneNumber\": \"+306943712399\",\r\n    \t\t\"ind\": null,\r\n    \t\t\"refId\": null,\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"application\": null\r\n    \t}\r\n    }"
  /P2P/addForeignAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AddAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AddAccountResponse'
      operationId: P2P_addForeignAccount
      summary: Adds an account under a card user in i-bank Pay
      description: "This service is called by a card user to add an account in i-bank Pay. The registration is completed at a later stage by calling addAccountVerification service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /addForeignAccount\r\n    {\r\n    \t\"userId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"actualUserId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"memberId\": \"e992a7c6-ef83-4336-a5e8-a7eeb746d1c1\",\r\n    \t\"deviceRegistrationId\": \"3e3cde86-b201-4573-a3f9-0201e923ed31\",\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\t\"account\": \"5162970092602000\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}]\r\n    }"
  /P2P/addAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AddAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AddAccountResponse'
      operationId: P2P_addAccount
      summary: Adds an account under a user in i-bank Pay
      description: "This service is called by a user to add an account in i-bank Pay. In case of adding a card, the registration is completed at a later stage by calling VerifyDeviceRegistration service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /addAccount\r\n    {\r\n    \t\"userId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"actualUserId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"memberId\": \"e992a7c6-ef83-4336-a5e8-a7eeb746d1c1\",\r\n    \t\"deviceRegistrationId\": \"3e3cde86-b201-4573-a3f9-0201e923ed31\",\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\t\"account\": \"5162970092602000\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}]\r\n    }"
  /P2P/addAccountVerification:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AddAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AddAccountResponse'
      operationId: P2P_addAccountVerification
      summary: Verifies an account
      description: "This service is called by a user to verify the card added under a user in i-bank Pay\r\n\r\n\r\nSample request:\r\n\r\n    POST /addAccountVerification\r\n    {\r\n    \t\"userId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"actualUserId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\"memberId\": \"e992a7c6-ef83-4336-a5e8-a7eeb746d1c1\",\r\n    \t\"deviceRegistrationId\": \"3e3cde86-b201-4573-a3f9-0201e923ed31\",\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"D689AD5F-8D20-4520-9315-220E36D328A6\",\r\n    \t\t\"account\": \"5162970092602000\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Card\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"preferredFlag\": true\r\n    \t}],\r\n    \t\"tanNumber\": null,\r\n    \t\"isSmsOtp\": true\r\n    }"
  /P2P/removeAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RemoveAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
      operationId: P2P_removeAccount
      summary: Removes an account of a user in i-bank Pay
      description: "This service is called by a user to remove an account from i-bank Pay.\r\n\r\n\r\nSample request:\r\n\r\n    POST /removeAccount\r\n    {\r\n    \t\"userId\": \"1000815\",\r\n    \t\"actualUserId\": \"1000815\",\r\n    \t\"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n    \t\"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n    \t\"accounts\": [{\r\n    \t\t\"accountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd5\",\r\n    \t\t\"account\": \"97200154075\",\r\n    \t\t\"alias\": \"alias\",\r\n    \t\t\"type\": \"Account\",\r\n    \t\t\"use\": \"wallet\",\r\n    \t\t\"verificationCode\": \"11111\",\r\n    \t\t\"status\": \"Active\",\r\n    \t\t\"preferredFlag\": false\r\n    \t}]\r\n    }"
  /P2P/askAccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AskAccountResponse'
      operationId: P2P_askAccount
      summary: Asks details about an account of a user in i-bank Pay
      description: "This service is called by a user to find details about an account\r\n\r\n\r\nSample request:\r\n\r\n    POST /askAccount\r\n    {\r\n        \"account\": {\r\n          \"accountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd4\",\r\n          \"account\": \"97200154074\",\r\n          \"alias\": null,\r\n          \"type\": \"Account\",\r\n          \"use\": null,\r\n          \"verificationCode\": null,\r\n          \"status\": null,\r\n          \"preferredFlag\": true\r\n        }\r\n    }"
  /P2P/askAccountV3:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      tags:
        - P2P
      parameters:
        - name: request
          description: ''
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskAccountRequest'
          in: body
          required: true
        - name: sandbox_id
          description: Sandbox ID
          in: header
          required: true
          type: string
          default: ''
        - name: Authorization
          description: Authorization Bearer
          in: header
          required: true
          type: string
          default: 'Bearer '
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPaySandbox.Types.Common.AskAccountV3Response'
      operationId: P2P_askAccountV3
      summary: Asks details about an account of a user in i-bank Pay
[...]
