swagger: '2.0'
info:
  version: v1.7
  title: iBankPay Sandbox
  description: "## What can I do?\nPerform money transfers to another member or merchant or even make donations by just **registering as a Member** to our service and verifying your mobile device as a trusted one. Once the registration step is completed simply **select the other member** you wish to **send money to or request money from or pay** and pretty much that's it.\n\n\n\n## Getting Started with the Sandbox\n\n1. **Create your first Sandbox Application**\nCreate a new Sandbox application by invoking the _POST_ /_**sandbox**_. This call will generate a new Sandbox with a unique sandbox_id , application_id and a user_id. IDs are UUIDs ([GUID generator](https://www.guidgenerator.com/online-guid-generator.aspx)). \n\n\n_**Important!**_ _Before proceeding save the sandbox id you just created._\n\n2. **Create your Sandbox Users**\nAfter creating your sandbox application, administrators may create users using POST /sandbox/**{sandbox_id}**_/_**users **\n\n## How do I log in?\nYou can call the i-bank Pay API by logging in and getting a cookie with the following cases: \n1.\tLog in as a user with userId and password\n2.\tLog in as a user with prepaid card number\n3.\tLog in as a user with product barcode\n4.\tLog in as a user with fast login (pin or fingerprint id)\n5.\tLog in as a middleware with userId and password\n6.\tLog in as a pos terminal with userId and password\n\nLogin is completed with two steps:\n\n**Step 1 (Send Credentials)**\n\nUser invokes one POST method to the login category (e.g https://apis.nbg.gr/sandbox/ibankpay/headers/v1.7/Login/userLogin/xxx}) with Content-Type: application/json and a JSON request with the credentials. xxx is an application identifier for the login generated by the bank.\n\nUser gets a Json response with realm and parameters to use for the next step\n\n**Step 2 (Cookie receipt)**\n\nUser invokes one POST method to the realm of the response of the previous call with Content-Type: application/x-www-form-urlencoded the parameters of that call. For the purposes of this Sandbox this step is simulated by the p2pproxy action\n\n**API Calls**\n\nIn order to call the API the retrieved cookie should be added to the request header and the endpoint should be formed with the realm plus the api/{controller/{action}. \n\n## How do I register as a member?\nSimply invoke the /p2p/_**registerMember**_ and you are done.\n\n## How do I send money?\nOnce you have registered as a member find from your list of contacts the member you wish to send money or make a donation (e.g. Unicef).\n\n## How do I request money?\nSimply invoke the /p2p/_**credit**_ and the other member can accept or reject it.\n\n## How do I pay a merchant?\nThe merchant will invoke the /p2p/_**machinePaymentRequestRegistration**_ and then the member can accept the payment by invoking the /p2p/_**acceptCredit**_ or reject it by invoking the /p2p/_**rejectCredit**_ .\n\n## Sandbox Member Endpoints \n1.\t_POST_ /p2p/_**registerMember**_\nIf you are not already registered to our service, invoke this endpoint to register. The mobile device registration is mandatory.\n2.\t_POST_ /p2p/_**productList**_\nInvoke this endpoint to find the list of your accounts and cards.\n3.\t_POST_ /p2p/_**selectAccount**_\nInvoke this endpoint to select the account you wish to use (e.g. an account or card). This is useful for the users that have registered as members with more than one account.\n4.\t_POST_ /p2p/_**discoverMemberV2**_\nInvoke this endpoint to search for members by supplying their network id (e.g. mobile phone number)\n5.\t_POST_ /p2p/_**payV2**_\nInvoke this endpoint to make a payment to another member.\n6.\t_POST_ /p2p/_**credit**_\nInvoke this endpoint to make a request to another member to send you money.\n7.\t_POST_ /p2p/_**acceptCredit**_\nInvoke this endpoint to accept another's member request to send him money (or approve a merchant payment)\n8.\t_POST_ /p2p/_**rejectCredit**_\nInvoke this endpoint to reject another's member request to send him money\n9.\t_POST_ /p2p/_**walletTransactionList**_\nInvoke this endpoint to get the list of your transactions\n10. _POST_ /p2p/_**disableMember**_\nInvoke this endpoint to deactivate yourself as member\n\n\n## Sandbox Merchant Endpoints:\n1. _POST_ /p2b/_**machinePaymentRequestRegistration**_\nInvoke this endpoint to create a payment request as a merchant\n2.  _POST_ /p2b/_**machinePaymentRequestRegistrationV2**_\nInvoke this endpoint to create a payment request as a merchant\n2. _POST_ /p2b/_**machinePaymentRequestInfo**_\nInvoke this endpoint to get the status of the payment request\n\n## Use cases\n1. A user owns a prepaid card or a payband (wearable) and wants to view the card balance and the list of card transactions through his mobile device. The API call sequence should be:\n\n\t_POST_ **/Login/AskProductCode** and a verification code will be sent via SMS to the card owner\n\n\t_POST_ **/Login/Productlogin** to login using the card number or barcode and the verification code\n\n\t_POST_ **/Login/p2pproxy** to get the token needed to access the API\n\n\t_POST_ **/p2p/askAccountV3** to check if wallet member already exists\n\n\t_POST_ **/p2p/registerAccount** to create a new wallet member, if additional verification is required a verification code will be sent via SMS to register the mobile device (bypass if member already exists)\n\n\t_POST_ **/p2p/registerDevice** to register the mobile device (bypass if member does not already exist)\n\n\t_POST_ **/p2p/verifyDeviceRegistration** to complete the mobile device registration using the verification code (if additional verification was required)\n\n\t_POST_ **/p2p/askAccountV3** to get the wallet member status\n\n\t_POST_ **/p2p/registerAccountFastLogin** to set a PIN or fingerprint for the fast login feature\n\n\t_POST_ **/Login/fastLogin** to login using the PIN or fingerprint\n\n\t_POST_ **/Login/p2pproxy** to get the token needed to access the API\n\n\t_POST_ **/p2p/getAccountsInfo** to retrieve the card balance\n\n\t_POST_ **/p2p/getProductTransactions** to retrieve the list of card transactions\n\n\t_POST_ **/p2p/addForeignAccount** to add an additional prepaid card or payband (wearable), a verification code will be sent via SMS to the card owner\n\n\t_POST_ **/p2p/addAccountVerification** to complete the additional card/payband addition using the verification code\n\n\t_POST_ **/p2p/getAccountsInfo** to retrieve the card balance for both cards\n\n\t_POST_ **/p2p/getProductTransactions** to retrieve the list of card transactions for the additional card\n\nPostman collections for UseCase1 are available \n\n[Sandbox Postman Collection](https://github.com/myNBGcode/PostmanCollections/tree/master/i-bank%20Pay%20API)"
  contact:
    name: Developers portal support mail
    email: developer@nbg.gr
host: apis.nbg.gr
basePath: /sandbox/ibankpay/headers/v1.7
schemes:
  - https
paths:
  /Account/accountList:
    post:
      tags:
        - Account
      summary: Returns user's Account List
      description: "This service is called to return bank accounts for a user, specified by userID.\r\n\r\n    POST /accountList\r\n    {\r\n        \"userId\": \"1000815\",\r\n        \"actualUserId\": \"1000815\"\r\n    }"
      operationId: Account_accountList
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.ProductListRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.Nbg.Services.Types.Product.ProductListResponse'
  /contacts:
    get:
      tags:
        - Contact
      summary: Get All Contacts
      description: Get All Contacts
      operationId: Contact_GetContactList
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
    put:
      tags:
        - Contact
      summary: Update Contacts
      description: "Update Contacts\r\n\r\n\r\nSample request:\r\n\r\n    PUT /contacts\r\n    [\r\n      {\r\n        \"phone\": \"+306987654321\",\r\n        \"firstname\": \"Giorgos\",\r\n        \"lastname\": \"Theodorou\"\r\n      }\r\n    ]"
      operationId: Contact_UpdateContactList
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.PhoneContact'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
    post:
      tags:
        - Contact
      summary: Create Contacts
      description: "Create Contacts based on the request. Only IBankPay Users can have Contacts\r\n\r\n\r\nSample request:\r\n\r\n    POST /contacts\r\n    [\r\n        {\r\n            \"phone\": \"+306987654321\",\r\n            \"firstname\": \"Marina\",\r\n            \"lastname\": \"Papathanasiou\"\r\n        }\r\n    ]"
      operationId: Contact_CreateContactList
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.PhoneContact'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPaySandbox.Types.Sandbox.PhoneContact'
  /contacts/deleteContact:
    post:
      tags:
        - Contact
      summary: Delete Contact
      description: "Delete Contact based on Phone Number\r\n\r\n\r\nSample request:\r\n\r\n    POST /contacts/deleteContact\r\n    {\r\n      \"phone\": \"+306987654321\"\r\n    }"
      operationId: Contact_DeleteContact
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: phone
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Phone'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.System.Collections.Generic.List.iBankPay.Types.P2P.BooleanResult'
  '/Login/userLogin/{clientId}':
    post:
      tags:
        - Login
      summary: User Login
      description: "This service is called to log in with internet banking credentials.\r\n\r\nSample request:\r\n\r\n    POST /userLogin\r\n    {\r\n        \"line1\": \"user\",\r\n        \"line2\": \"password\"     \r\n    }"
      operationId: Login_UserLogin
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginResponse'
  '/Login/askCardCode/{clientId}':
    post:
      tags:
        - Login
      summary: Ask Card Code
      description: "This service is called to ask for a sms-otp to be sent for logging in with Prepaid Card.\r\nThe verificationCodeId that is returned should be used for the next call (CardLogin)\r\n\r\nSample request:\r\n\r\n    POST /askCardCode\r\n    {\r\n        \"cardNumber\": \"52639841258741\"       \r\n    }"
      operationId: Login_AskCardCode
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.CodeRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.CodeResponse'
  '/Login/cardLogin/{clientId}':
    post:
      tags:
        - Login
      summary: Card Login
      description: "This service is called to log in as a prepaid card owner.\r\nThe realm that is returned should be used for the next call (p2pproxy)\r\n\r\nSample request:\r\n\r\n    POST /cardLogin\r\n    {\r\n        \"cardNumber\": \"5263984125844741\",\r\n        \"verificationCode\": \"886438\",\r\n        \"verificationCodeId\": \"0d0b13e4-380e-4c66-8441-e08c2f6ed83a\"\r\n    }"
      operationId: Login_CardLogin
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.CardLoginRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginResponse'
  '/Login/askProductCode/{clientId}':
    post:
      tags:
        - Login
      summary: Ask Product Code
      description: "This service is called to ask for a sms-otp to be sent for logging in with Barcode.\r\nThe verificationCodeId that is returned should be used for the next call (ProductLogin)\r\n\r\n\r\nSample request:\r\n\r\n    POST /askProductCode\r\n    {\r\n         \"product\": {                     \r\n            \"id\": \"84304211\",\r\n            \"type\": \"Barcode\"\r\n          }\r\n    }"
      operationId: Login_AskProductCode
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.CodeRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.CodeResponse'
  '/Login/productLogin/{clientId}':
    post:
      tags:
        - Login
      summary: Product Login
      description: "This service is called to log in with barcode.\r\nThe realm that is returned should be used for the next call (p2pproxy)\r\n\r\nSample request:\r\n\r\n    POST /productLogin\r\n    {\t\r\n         \"verificationCode\": \"365214\",\r\n         \"verificationCodeId\": \"63514fd5-f76b-4991-9e7c-7ceabdd2d678\",\r\n         \"product\": {                     \r\n            \"id\": \"84304211\",\r\n            \"type\": \"Barcode\"\r\n          }\r\n    }"
      operationId: Login_ProductLogin
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.ProductLoginRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginResponse'
  '/Login/fastLogin/{clientId}':
    post:
      tags:
        - Login
      summary: Fast Login
      description: "This service is called to log in with PIN or Fingerprint.\r\nParameters for the request are retrieved from previous calls:\r\n- RequestApplication : Application identifier <br />\r\n- UserRegion : Device Registration Id (Retrieved from VerifyDeviceRegistration action)<br />\r\n- Token : Fast Login Registration (Retrieved from RegisterAccountFastLogin or RegisterProductFastLogin action)<br />\r\n- Pin : Login Password or Fingerprint Id<br />\r\n\r\nThe realm that is returned should be used for the next call (p2pproxy)\r\n\r\nSample request:<br />\r\nPOST /fastLogin<br />\r\nrequest: RequestApplication=p6b47810-cec6-4342-aabf-eae682e4a450&amp;UserRegion=3b25db0c-b3a9-4564-b381-827d7c927f88&amp;Token=36ae2171-5261-49f3-9f85-666666666666&amp;Pin=1111"
      operationId: Login_FastLogin
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.FastLoginRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginResponse'
  '/Login/posLogin/{clientId}':
    post:
      tags:
        - Login
      summary: Pos Login
      description: "This service is called to log in as a middleware or a terminal.\r\n            \r\nThe realm that is returned should be used for the next call (p2pproxy)\r\n\r\nSample request:\r\n\r\n    POST /posLogin\r\n    {\r\n        \"line1\": \"0049624D-4A7C-4C2F-8005-999999999999\",\r\n        \"line2\": \"9F5A78C1-BACE-400C-8093-888888888888\"\r\n    }"
      operationId: Login_PosLogin
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: clientId
          in: path
          description: Client ID
          required: true
          type: string
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginResponse'
  /Login/p2pproxy:
    post:
      tags:
        - Login
      summary: P2P Proxy
      description: "This service is called to get the authorization cookie.<br />\r\nParameters are retrieved from a previous Login call:\r\n- wa<br />\r\n- wctx<br />\r\n- wresult<br />\r\n\r\nSample request:<br />\r\nPOST /p2pproxy<br />\r\nparameters: wa=s5a4da5sd4a5sd&amp;wctx=sdsa4d5a4sd&amp;wresult=fsafdasdfsadfas"
      operationId: Login_P2PProxy
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - text/html
      parameters:
        - name: parameters
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.LoginParameters'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
      responses:
        '302':
          description: Found
  /P2B/registerExternalDevice:
    post:
      tags:
        - P2B
      summary: Register i-bank Connector device
      description: "Registers an i-bank Connector device (MatPOS) and returns the device registration id.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerExternalDevice\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"deviceClass\": \"MatPos\",\r\n        \"externalDeviceId\": \"49F620EC-D4B8-4682-AC6D-EFEAB9EA2D42\",\r\n        \"account\": \"33333333333\",\r\n        \"firstName\": \"Nikos\",\r\n        \"surName\": \"Oikonomou\",\r\n        \"title\": \"Oikonomou N.\",\r\n        \"address\": \"Marathonos 888 Pikermi\",\r\n        \"phone\": \"2161234567\",\r\n        \"friendlyName\": \"i-Bank Connector 2\",\r\n        \"status\": \"Active\",\r\n        \"tanNumber\": null,\r\n        \"isSmsOtp\": false\r\n    }"
      operationId: P2B_registerExternalDevice
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.ExternalDevice'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.RegisterExternalDeviceResponse'
  /P2B/getRegisteredDevices:
    post:
      tags:
        - P2B
      summary: Get Registered Devices
      description: "Returns details for merchant pos, specified by userid and device class(SandboxPos, MatPos, SandboxServer).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getRegisteredDevices\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"deviceClass\": \"MatPos\"\r\n    }"
      operationId: P2B_getRegisteredDevices
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetRegisteredDevicesRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.ExternalDevice'
  /P2B/machinePaymentRequestRegistration:
    post:
      tags:
        - P2B
      summary: Registers a payment request in i-bank Pay
      description: "This service is called to register a payment request. Payment requests have a specific life span within which they must be approved / rejected by the customer. In the event of successful approval they will be completed at a later stage by calling MachinePaymentRequestInfo service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestRegistration\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"amount\": 150.20,\r\n        \"reason\": \"reason\",\r\n        \"paymentRequestMachineIdentifier\": \"0CC2BF08-168B-4F9B-A1C0-6CFFF4E26D4F\"\r\n    }"
      operationId: P2B_machinePaymentRequestRegistration
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRegistrationRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentRegistrationResponse'
  /P2B/machinePaymentRequestRegistrationV2:
    post:
      tags:
        - P2B
      summary: Registers a payment request in i-bank Pay
      description: "This service is called to register a payment request. Payment requests have a specific life span within which they must be approved / rejected by the customer. In the event of successful approval they will be completed at a later stage by calling MachinePaymentRequestInfo service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestRegistration\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"amount\": 150.20,\r\n        \"reason\": \"reason\",\r\n        \"paymentRequestMachineIdentifier\": \"0CC2BF08-168B-4F9B-A1C0-6CFFF4E26D4F\"\r\n    }"
      operationId: P2B_machinePaymentRequestRegistrationV2
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentRegistrationV2Request'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentRegistrationV2Response'
  /P2B/machinePaymentRequestInfo:
    post:
      tags:
        - P2B
      summary: Payment Status Request
      description: "This service is used to query the status of a payment request in i-bank Pay from a POS / middleware server. If the payment request has been approved by the customer and has not expired, then the amount is transferred to the merchant and this service returns the result. Otherwise, it simply returns the status of the payment request.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestInfo\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"machineId\": \"88888888\",\r\n        \"deviceRegistrationId\": \"8b5ca6af-3f30-484e-a392-27e9e211eb7f\",\r\n        \"refId\": \"3b54537d-9db4-47a7-ad3d-0662d526ab12\"\r\n    }"
      operationId: P2B_machinePaymentRequestInfo
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentInfoRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentInfoResponse'
  /P2B/machinePaymentRequestInfoV2:
    post:
      tags:
        - P2B
      summary: Payment Status Request
      description: 'This service is used to query the status of a payment request in i-bank Pay from a POS / middleware server. If the payment request has been approved by the customer and has not expired, then the amount is transferred to the merchant and this service returns the result. Otherwise, it simply returns the status of the payment request.'
      operationId: P2B_machinePaymentRequestInfoV2
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentInfoRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2B.MachinePaymentInfoResponse'
  /P2B/transactionHistory:
    post:
      tags:
        - P2B
      summary: Get Transaction History
      description: "Returns list of transactions which the status is not pending.<br />\r\nPayload parameters are:<br />\r\n- userID<br />\r\n- externalDeviceID<br />\r\n- deviceClass<br />\r\n- dateFrom<br />\r\n- dateTo<br />\r\n- employeeID<br />\r\n- groupID\r\n\r\n\r\nSample request:\r\n\r\n    POST /transactionHistory\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"7777777777777777\",\r\n        \"deviceClass\": \"MatPos\",\r\n        \"dateFrom\": \"2016-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
      operationId: P2B_transactionHistory
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.TransactionP2B'
  /P2B/countActiveDevices:
    post:
      tags:
        - P2B
      summary: Count Active Devices
      description: "Returns number of active POS per device class, specified by merchant (userID).\r\n\r\n\r\nSample request:\r\n\r\n    POST /countActiveDevices\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
      operationId: P2B_countActiveDevices
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.DevicesList'
  /P2B/getPortalServices:
    post:
      tags:
        - P2B
      summary: Get Portal Services
      description: "Returns details for all portal services (device class).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getPortalServices\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
      operationId: P2B_getPortalServices
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPay.Types.P2B.PortalService'
  /P2B/paymentRequestInfoV2:
    post:
      tags:
        - P2B
      summary: Payment Request Info
      description: "Returns details of a payment\r\n\r\n\r\nSample request:\r\n\r\n    POST /paymentRequestInfoV2\r\n    {\r\n        \"userId\": \"7777777777777777\",\r\n        \"actualUserId\": \"7777777777777777\",\r\n        \"memberId\": \"543e6ece-4352-4da7-bf6a-b4f818668a46\",\r\n        \"deviceRegistrationId\": \"06485136-30c5-4dd7-8448-51b21cb8137c\",\r\n        \"refId\": \"3b54537d-9db4-47a7-ad3d-0662d526ab12\"\r\n    }"
      operationId: P2B_paymentRequestInfoV2
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PaymentInfoRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PaymentInfoResponse'
  /P2B/paymentRequestInfoV3:
    post:
      tags:
        - P2B
      summary: Payment Request Info
      description: 'Returns details of a payment, includes information in case of points redemption'
      operationId: P2B_paymentRequestInfoV3
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PaymentInfoRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PaymentInfoResponse'
  /P2B/getPosInfo:
    post:
      tags:
        - P2B
      summary: Get POS Info
      description: "Returns information for a POS, specified by userID and posID.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getPosInfo\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"posId\": \"88888888\"\r\n    }"
      operationId: P2B_getPosInfo
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.PosInfoRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.PosInfoResponse'
  /P2B/getGroups:
    post:
      tags:
        - P2B
      summary: Get Groups
      description: "Returns list of shops with employees.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getGroups\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
      operationId: P2B_getGroups
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.GroupP2B'
  /P2B/getMemberImage:
    post:
      tags:
        - P2B
      summary: Get Member Image
      description: "Get member image\r\n\r\n\r\nSample request:\r\n\r\n    POST /getMemberImage\r\n    {\r\n        \"userId\": \"7777777777777777\",\r\n        \"actualUserId\": \"7777777777777777\",\r\n        \"memberId\": \"1b78eea8-761c-475b-8a28-2abb2c47fc35\",\r\n        \"deviceRegistrationId\": \"06485136-30c5-4dd7-8448-51b21cb8137c\",\r\n        \"imageId\": \"918a2014-732f-4f7b-8cf5-df00271e644d\"\r\n    }"
      operationId: P2B_getMemberImage
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetMemberImageRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetMemberImageResponse'
  /P2B/updateMachineInfo:
    post:
      tags:
        - P2B
      summary: Update Machine Info
      description: "Updates info of a machine, if the address and the title do not exist, a member and a group are created.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateMachineInfo\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"externalDeviceId\": \"99999999\",\r\n        \"account\": \"99999999999\",\r\n        \"firstName\":null,\r\n        \"surName\": null,\r\n        \"title\": \"Afoi Papadopouloi A.E.\",\r\n        \"address\": \"GARGITTOU 999 Gerakas\",\r\n        \"phone\": \"2189999999\",\r\n        \"friendlyName\": \"My Updated2 Sandbox Pos\",\r\n        \"status\": \"Active\",\r\n        \"tanNumber\": null,\r\n        \"isSmsOtp\": true\r\n    }"
      operationId: P2B_updateMachineInfo
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.ExternalDevice'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: boolean
  /P2B/exportTransactionHistoryPdf:
    post:
      tags:
        - P2B
      summary: Export Transaction History PDF
      description: "Export Transaction History PDF\r\n\r\n\r\nSample request:\r\n\r\n    POST /exportTransactionHistoryPdf\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
      operationId: P2B_exportTransactionHistoryPdf
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
  /P2B/exportTransactionHistoryXls:
    post:
      tags:
        - P2B
      summary: Export Transaction History XLS
      description: "Export Transaction History XLS\r\n\r\n\r\nSample request:\r\n\r\n    POST /exportTransactionHistoryXls\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-10-16T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-16T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
      operationId: P2B_exportTransactionHistoryXls
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
  /P2B/monthlyPdfChannelReport:
    post:
      tags:
        - P2B
      summary: Monthly Pdf Channel Report
      description: "Monthly Pdf Channel Report\r\n\r\n\r\nSample request:\r\n\r\n    POST /monthlyPdfChannelReport\r\n    {\r\n        \"userId\": \"999999\",\r\n        \"externalDeviceId\": \"88888888\",\r\n        \"deviceClass\": \"SandboxPos\",\r\n        \"dateFrom\": \"2017-11-01T09:54:46.075Z\",\r\n        \"dateTo\": \"2017-11-30T09:54:46.075Z\",\r\n        \"employeeId\": null,\r\n        \"groupId\": \"9da51dee-338e-43df-a189-490fc3d032ad\"\r\n    }"
      operationId: P2B_monthlyPdfChannelReport
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces: []
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.TransactionHistoryRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
  /P2B/getEmployees:
    post:
      tags:
        - P2B
      summary: Get Employees
      description: "Returns list of employees specified by userID (merchant).\r\n\r\n\r\nSample request:\r\n\r\n    POST /getEmployees\r\n    {\r\n        \"userId\": \"999999\"\r\n    }"
      operationId: P2B_getEmployees
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UserIdRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.EmployeeP2B'
  /P2B/getServiceDevices:
    post:
      tags:
        - P2B
      summary: Return all external devices for merchant
      description: "Returns all external devices for merchant.\r\n\r\n\r\nSample request:\r\n\r\n    POST /getServiceDevices\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"actualUserId\": \"COMPAN002900001\",\r\n        \"serviceName\": \"ExternalService\"\r\n    }"
      operationId: P2B_getServiceDevices
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.GetServiceDevicesRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetServiceDevicesResponse'
  /P2B/updateServiceDevices:
    post:
      tags:
        - P2B
      summary: Register/Unregister external devices of merchant
      description: "Register/Unregister external devices of merchant.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateServiceDevices\r\n    {\r\n        \"userId\": \"COMPAN002900001\",\r\n        \"actualUserId\": \"COMPAN002900001\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"devices\": [\r\n         {\r\n           \"externalDeviceId\": \"99999999\",\r\n           \"deviceClass\": \"ExternalService\",\r\n           \"serviceName\": \"ExternalService\",\r\n           \"status\": \"Active\",\r\n           \"updatedOn\": \"2018-03-21T11:00:02.354Z\"\r\n         }\r\n       ]\r\n    }"
      operationId: P2B_updateServiceDevices
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.UpdateServiceDevicesRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.GetServiceDevicesResponse'
  /P2B/machinePaymentDetails:
    post:
      tags:
        - P2B
      summary: Return details of a payment request
      description: "Returns the details of a payment request to the third-party user.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentDetails\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"refId\": \"1cc50d4d-6d69-485a-827d-c0fa3004fe7a\"\r\n    }"
      operationId: P2B_machinePaymentDetails
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentDetailsRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Sandbox.P2B.MachinePaymentDetailsResponse'
  /P2B/machinePaymentRequestUpdate:
    post:
      tags:
        - P2B
      summary: Update status of a payment
      description: "Updates the status of a transaction if the accounting is done by the third party software or the transaction is rejected by the client.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestUpdate\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"refId\": \"1cc50d4d-6d69-485a-827d-c0fa3004fe7a\",\r\n        \"status\": \"\",\r\n        \"rejectionReason\": \"\"\r\n    }"
      operationId: P2B_machinePaymentRequestUpdate
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRequestUpdateRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.MachinePaymentResponse'
  /P2B/machinePaymentRequestPay:
    post:
      tags:
        - P2B
      summary: Complete the payment of a transaction
      description: "Completes the payment of a transaction if the accounting (partial or total) is made by NBG.\r\n\r\n\r\nSample request:\r\n\r\n    POST /machinePaymentRequestPay\r\n    {\r\n        \"userId\": \"cc423aac-da7e-4b5f-8e5a-3040dfdcde8b\",\r\n        \"serviceUserId\": \"serviceUserId\",\r\n        \"refId\": \"c17d5f8a-0c06-45b0-8cdc-ac3f6add2da8\",\r\n        \"amount\": 20.20\r\n    }"
      operationId: P2B_machinePaymentRequestPay
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2B.MachinePaymentRequestPayRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/iBankPay.Types.P2B.MachinePaymentResponse'
  /P2P/registerMember:
    post:
      tags:
        - P2P
      summary: Registers a member in i-bank Pay service
      description: "This service is called to register a member in i-bank Pay service. To complete member registration you must call DeviceRegistration and VerifyDeviceRegistration services.\r\n\r\n\r\nSample request:\r\n\r\n    POST /registerMember\r\n    {\r\n    \t\t\"userId\": \"1000860\",\r\n    \t\t\"actualUserId\": \"1000860\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"contactId\": null,\r\n    \t\t\t\"firstName\": \"Nomikou\",\r\n    \t\t\t\"surName\": \"Maria\",\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [],\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"identities\": []\r\n    \t\t},\r\n    \t\t\"accounts\": [{\r\n    \t\t\t\"accountId\": null,\r\n    \t\t\t\"account\": \"99999999999\",\r\n    \t\t\t\"alias\": \"myAccount\",\r\n    \t\t\t\"type\": \"Account\",\r\n    \t\t\t\"use\": \"WalletAccount\",\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"preferredFlag\": true\r\n    \t\t}],\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": null,\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": true,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}],\r\n    \t\t\"deviceInfo\": {\r\n    \t\t\t\"deviceRegistrationId\": null,\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"deviceName\": \"samsung\",\r\n    \t\t\t\"deviceId\": \"359469061837294\",\r\n    \t\t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\t\"ind\": false,\r\n    \t\t\t\"refId\": null,\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"application\": \"df8681ec-c8d1-43c3-9966-f4fbf69acce9\"\r\n    \t\t}\r\n    }"
      operationId: P2P_registerMember
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.RegisterMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.RegisterMemberResponse'
  /P2P/disableMember:
    post:
      tags:
        - P2P
      summary: Disables a member
      description: "This service is called to disable a user from i-bank Pay service.\r\n\r\n\r\nSample request:\r\n\r\n    POST /disableMember\r\n    {\r\n        \"userId\": \"1000860\",\r\n        \"actualUserId\": \"1000860\",\r\n        \"memberId\": \"a7ddedc7-4217-4718-8a3f-cddb038fdb6f\",\r\n        \"deviceRegistrationId\": \"b76f371b-ef48-4824-a6ee-7b58f7fe7989\"\r\n    }"
      operationId: P2P_disableMember
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.DisableMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
  /P2P/discoverMemberV2:
    post:
      tags:
        - P2P
      summary: Searches for users by identity
      description: "This service is called to search i-bank Pay users or IRIS users by identities, such as mobile phone or AFM.\r\n\r\n\r\nSample request:\r\n\r\n    POST /discoverMemberV2\r\n    {\r\n        \"userId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"actualUserId\": \"1000815\",\r\n        \"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n        \"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n        \"identities\": [\r\n          {\r\n            \"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n            \"network\": \"mobile\",\r\n            \"networkId\": \"+306944444444\",\r\n            \"matched\": true,\r\n            \"nickName\": \"marion\",\r\n            \"preferredAccount\": \"6519d427-2b54-45f9-9591-81dfa64fd362\",\r\n            \"preferredAccountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd4\",\r\n            \"verificationCode\": \"2345\",\r\n            \"status\": \"active\",\r\n            \"accessToken\": \"\"\r\n          }\r\n        ],\r\n        \"removed\": [\r\n          {\r\n            \"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n            \"network\": \"mobile\",\r\n            \"networkId\": \"+306944444444\",\r\n            \"matched\": true,\r\n            \"nickName\": \"marion\",\r\n            \"preferredAccount\": \"6519d427-2b54-45f9-9591-81dfa64fd362\",\r\n            \"preferredAccountId\": \"82e0b7ae-5ee9-4a24-8a2d-c986b5107bd4\",\r\n            \"verificationCode\": \"2345\",\r\n            \"status\": \"active\",\r\n            \"accessToken\": \"\"\r\n          }\r\n        ]\r\n    }"
      operationId: P2P_discoverMemberV2
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.DiscoverMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.DiscoverMemberResponse'
  /P2P/termsAccepted:
    post:
      tags:
        - P2P
      summary: Renews the acceptance of the terms
      description: "This service is called to renew the user's acceptance of i-bank Pay terms of use\r\n\r\n\r\nSample request:\r\n\r\n    POST /termsAccepted\r\n    {\r\n        \"userId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"actualUserId\": \"47eaf8de-f924-402e-b3a9-1219a6283b41\",\r\n        \"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n        \"deviceRegistrationId\": null\r\n    }"
      operationId: P2P_termsAccepted
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.TermsAcceptedRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.BooleanResult'
  /P2P/askMember:
    post:
      tags:
        - P2P
      summary: Asks for Member
      description: "This service is called to search for the existence of a user and his status of registration.\r\n\r\n\r\nSample request:\r\n\r\n    POST /askMember\r\n    {\r\n        \"userId\": \"1000815\",\r\n        \"actualUserId\": \"1000815\"\r\n    }"
      operationId: P2P_askMember
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AskMemberResponse'
  /P2P/askMemberV2:
    post:
      tags:
        - P2P
      summary: Asks for Member
      description: This service is called to search for the existence of a user and his status of registration. It also handles the Loyalty Registry.
      operationId: P2P_askMemberV2
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.AskMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.AskMemberResponse'
  /P2P/verifyMemberRegistration:
    post:
      tags:
        - P2P
      summary: Verifies the registration of a member
      description: "This service is called to verify a member by sending sms. The former call might be registerMember.\r\n\r\n\r\nSample request:\r\n\r\n    POST /verifyMemberRegistration\r\n    {\r\n    \t\t\"userId\": \"11111\",\r\n    \t\t\"actualUserId\": \"11111\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": \"a7ddedc7-4217-4718-8a3f-cddb038fdb6f\",\r\n    \t\t\t\"contactId\": null,\r\n    \t\t\t\"firstName\": \"Nomikou\",\r\n    \t\t\t\"surName\": \"Maria\",\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [],\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"identities\": []\r\n    \t\t},\r\n    \t\t\"status\": \"Pending\",\r\n    \t\t\"verificationCode\": null,\r\n    \t\t\"identities\": [{\r\n    \t\t\t\"identityId\": null,\r\n    \t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\"networkId\": \"+306945558811\",\r\n    \t\t\t\"matched\": true,\r\n    \t\t\t\"nickName\": null,\r\n    \t\t\t\"preferredAccount\": null,\r\n    \t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"accessToken\": null\r\n    \t\t}],\r\n    \t\t\"accounts\": [{\r\n    \t\t\t\"accountId\": null,\r\n    \t\t\t\"account\": \"99999999999\",\r\n    \t\t\t\"alias\": \"myAccount\",\r\n    \t\t\t\"type\": \"Account\",\r\n    \t\t\t\"use\": \"WalletAccount\",\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"status\": null,\r\n    \t\t\t\"preferredFlag\": true\r\n    \t\t}],\r\n    \t\t\"deviceInfo\": {\r\n    \t\t\t\"deviceRegistrationId\": null,\r\n    \t\t\t\"memberId\": null,\r\n    \t\t\t\"deviceName\": \"samsung\",\r\n    \t\t\t\"deviceId\": \"359469061837294\",\r\n    \t\t\t\"phoneNumber\": \"+306945558811\",\r\n    \t\t\t\"ind\": false,\r\n    \t\t\t\"refId\": null,\r\n    \t\t\t\"verificationCode\": \"11111\",\r\n    \t\t\t\"application\": \"bc9fec17-3641-4a0c-a5e8-ac1d0ded15d4\"\r\n    \t\t},\r\n    \t\t\"refId\": null\r\n    }"
      operationId: P2P_verifyMemberRegistration
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.VerifyMemberRegistrationRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
        - name: application_id
          in: header
          description: Application ID
          required: true
          type: string
          default: ''
        - name: user_id
          in: header
          description: User ID
          required: true
          type: string
          default: ''
        - name: username
          in: header
          description: User Name
          required: true
          type: string
          default: ''
        - name: provider_id
          in: header
          description: Provider ID
          required: true
          type: string
          default: ''
        - name: provider
          in: header
          description: Provider Name
          required: true
          type: string
          default: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ibank.Hosting.WebApi.Response.iBankPay.Types.P2P.VerifyMemberRegistrationResponse'
  /P2P/updateMember:
    post:
      tags:
        - P2P
      summary: Updates a member
      description: "This service is called to update a user's information.\r\n\r\n\r\nSample request:\r\n\r\n    POST /updateMember\r\n    {\r\n    \t\t\"userId\": \"1000815\",\r\n    \t\t\"actualUserId\": \"1000815\",\r\n    \t\t\"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n    \t\t\"deviceRegistrationId\": \"d7bd5203-96aa-400a-9db2-a15ebe45e285\",\r\n    \t\t\"member\": {\r\n    \t\t\t\"memberId\": \"21989497-a829-4029-b506-fd4c24a6d085\",\r\n    \t\t\t\"contactId\": \"4e650d4f-b573-47c1-bbb0-898ad28d01c5\",\r\n    \t\t\t\"firstName\": \"Maria\",\r\n    \t\t\t\"surName\": \"Ioannou\",\r\n    \t\t\t\"nickName\": \"marion\",\r\n    \t\t\t\"title\": null,\r\n    \t\t\t\"registries\": [{\r\n    \t\t\t\t\"name\": \"DiasInstantPayments\",\r\n    \t\t\t\t\"isPrimary\": false,\r\n    \t\t\t\t\"description\": null\r\n    \t\t\t},\r\n    \t\t\t{\r\n    \t\t\t\t\"name\": \"IBankPay\",\r\n    \t\t\t\t\"isPrimary\": true,\r\n    \t\t\t\t\"description\": null\r\n    \t\t\t}],\r\n    \t\t\t\"status\": \"Active\",\r\n    \t\t\t\"verificationCode\": null,\r\n    \t\t\t\"identities\": [{\r\n    \t\t\t\t\"identityId\": \"230bde44-0ee5-44bb-aeac-a466f2c45004\",\r\n    \t\t\t\t\"network\": \"Mobile\",\r\n    \t\t\t\t\"networkId\": \"+306944444444\",\r\n    \t\t\t\t\"matched\": null,\r\n    \t\t\t\t\"nickName\": \"UT\",\r\n    \t\t\t\t\"preferredAccount\": null,\r\n    \t\t\t\t\"preferredAccountId\": null,\r\n    \t\t\t\t\"verificationCode\": null,\r\n    \t\t\t\t\"status\": \"Active\",\r\n    \t\t\t\t\"accessToken\": null\r\n    \t\t\t}]\r\n    \t\t}\r\n    }"
      operationId: P2P_updateMember
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: request
          in: body
          description: ''
          required: true
          schema:
            $ref: '#/definitions/iBankPaySandbox.Types.Common.Request.iBankPay.Types.P2P.UpdateMemberRequest'
        - name: sandbox_id
          in: header
          description: Sandbox ID
          required: true
          type: string
          default: ''
[...]
